.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.dropzone .dz-message {
    font-weight: 400;
}

.dropzone .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}

.dz-preview:hover {
    cursor: pointer;
}

#title {
    color: #FF6347;
    text-shadow: 2px 2px 2px #FFFFFF;
}

#sub-title {
    color: #E4E8F2;
}

html,
body {
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4rem;
    background: #457DB6;
    color: #646C7F;
    text-rendering: optimizeLegibility;
}

@media (max-width: 600px) {
    html,
    body {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    html,
    body {
        font-size: 16px;
    }
}